* {
  margin: 0;
  padding: 0;
}

#task-list {
  display: flex;
  flex-direction: column;
  height: auto;
}

#task-list .tab {
  margin-left: 0;
  text-align: start;
}

.indicator {
  display: none;
}

.tabs .tab {
  line-height: 1.5em;
  margin-bottom: 20px;
  height: auto;
}

.tabs .tab a {
  white-space: normal;
  display: inline-block;
  width: auto;
}

.main>.row {
  margin-bottom: 0;
}

a.active {
  border-bottom: 2px solid #4dd0e1;
}

a:hover.cyan-text.text-lighten-2 {
  color: #006064 !important;
}

#task1,
#task2,
#task3,
#task4,
#task5,
#task6,
#task7 {
  min-height: 100vh;
}

.main h2 {
  font-size: 2.1rem;
  margin-bottom: 50px;
}

.lang {
  display: none;
}

.lang.visible {
  display: inline;
}

#languages,
#welcome-message,
.input-fiald {
  margin-bottom: 40px;
}

#welcome-message {
  font-size: 1.7rem;
}

#task5 .text {
  margin-top: 25px;
  margin-bottom: 25px;
}

#play-ground {
  width: 80%;
  height: 400px;
  border: 1px solid #006064;
  display: none;
  position: relative;
}

#player {
  width: 20px;
  height: 20px;
  background-color: #006064;
  position: absolute;
  top: 0;
  left: 0;

  transition: .1s ease-out;
}

.fire {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4dd0e1;
}

.play-field {
  display: flex;
  justify-content: space-around;
}

#task6 .text {
  display: none;
}

.employeeList {
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: 20px;
}

.listItem,
.caption {
  display: flex;
  justify-content: space-between;
}

.listItem {
  font-size: 1.2em;
}

.listItem span,
.caption span {
  flex-basis: 24%;
  padding: 20px 0;
}

.caption {
  font-size: 1.4em;
  font-weight: 700;
  border-bottom: 1px solid #006064;
}

.employeeList li:nth-child(2n) {
  background-color: #e0f7fa;
}

.listControl {
  display: flex;
  justify-content: space-between;
}

.addEmployee {
  flex-basis: 35%;
}

.control {
  flex-basis: 55%;
  text-align: left;
  font-size: 1.2em;
}

/*.range-field input {
  width: 70%;
}*/

